<script setup lang="ts">
import BookShelf from './components/Book-Shelf.vue';



</script>

<template>
  <BookShelf />
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>